*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 138, 197);
    height: 100vh;
}

h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.game-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 650px;
    height: 490px;
    margin: auto;
}

.card{
    position: relative;
    width: calc(33% - 10px);
    height: calc(50% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.7s;
    
}

.card:active{
    transform: scale(0.90);
    transition: transform 0.1s;
}

.card.flip{
    transform: rotateY(180deg);
}

.card.hidden{
    opacity: 0;
    transition: opacity 3s;
}

.front-face{
    width: 200px;
    height: 230px;
    position: absolute;
    border-radius: 5px;
    background-color: #FFF;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back-face{
    width: 200px;
    height: 230px;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(238, 185, 216);
    backface-visibility: hidden;
    padding: 30px;
}

.result{
    text-align: center;
    font-size: 30px;
}